@using Abp.Authorization.Users
@using MPM.FLP.Web.Startup
@model MPM.FLP.FLPDb.MotivationCards
@{
    ViewData["Title"] = "Motivation Cards";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Motivation Card
                </h2>
            </div>
            <div class="body">
                <div class="row table-responsive">
                    @(Html.Kendo().Grid<MPM.FLP.FLPDb.MotivationCards>()
                             .Name("grid")
                             .ToolBar(tools =>
                             {
                                 tools.Custom().Text("Tambah Motivation Card Baru").HtmlAttributes(new { Href = Url.Action("Create", "MotivationCards") });
                             })
                             .DataSource(dataSource => dataSource
                                 .Custom()
                                 .ServerFiltering(true)
                                 .Type("aspnetmvc-ajax")
                                 .Transport(transport => transport
                                               .Read(read => read.Action("Grid_Read", "MotivationCards"))
                                               .Destroy(destroy => destroy.Action("Grid_Destroy", "MotivationCards"))
                                   )
                                 .Schema(schema => schema
                                   .Model(m => m.Id("id"))
                                   .Parse(@<text>
                                            function(response) {
                                            return response.result;
                                            }
                                </text>)
                           .Data("data")
                           .Total("total")
                           )
                         )
                      .Columns(columns =>
                      {
                          columns.Bound(typeof(DateTime), "creationTime").Title("Tanggal").ClientTemplate("#= data.creationTime ? kendo.toString(kendo.parseDate(data.creationTime), 'dd-MM-yyyy') : '' #").Filterable(false);
                          columns.Bound(typeof(string), "title").Title("Judul").Filterable(true);
                          columns.Bound(typeof(string), "storageUrl")
                             .ClientTemplate("#=GetMyImage(data.storageUrl)#").Width(240)
                             .Title("Gambar").Filterable(false);
                          columns.Bound(typeof(string), "order").Title("Urutan").Filterable(false);
                           columns.Bound(typeof(string), "isPublished").ClientTemplate(
                  "#=ShowValue(data.isPublished)#")
                .Title("Tampilkan?").HtmlAttributes(new { @class = "text-center", @style = "width:50px;" }).Filterable(false);
                          columns.Command(commands =>
                          {
                              commands.Custom("Edit").Text(" ").HtmlAttributes(new { @class = "btn btn-primary", @style = "color:white;", @title = "Ubah" }).IconClass("glyphicon glyphicon-cog").Click("goToEditPage");
                              //commands.Custom("Attachment").Text(" ").HtmlAttributes(new { @class = "btn btn-warning", @style = "color:white;", @title = "Tautan" }).IconClass("glyphicon glyphicon-file").Click("goToAttachmentPage");
                              commands.Destroy().Text(" ").HtmlAttributes(new { @class = "btn btn-danger", @style = "color:white;", @title = "Hapus"}).IconClass("glyphicon glyphicon-trash");
                          }).Width(250);
                      })
                        .Pageable()
                        .Sortable()
                        .Filterable(filterable => filterable
                            .Extra(false)
                            .Operators(operators => operators
                            .ForString(str => str.Clear()
                                .IsEqualTo("Is equal to")
                                .Contains("Contains")
                            ))
                  )
                    )

                    <script>
                        function ShowValue(value) {
                            if (value == true) {
                                return "<i class='glyphicon glyphicon-ok'/>";
                            } else {
                                return "<i class='glyphicon glyphicon-remove'/>";
                            }
                        }
                        function goToEditPage(e) {
                            //var grid = $("#grid").data("kendoGrid");

                            e.preventDefault();
                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));
                            //var dataItem = grid.select().dataItem($(e.currentTarget).closest("tr"));

                            window.location.href = '@Url.Action("Edit", "MotivationCards")' + '/' + dataItem.id;
                            //window.location.href = '@Url.Action("Edit", "MotivationCards")' + '/' + e;
                        }
                        function goToAttachmentPage(e) {
                            e.preventDefault();
                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                            window.location.href = '@Url.Action("EditAttachment", "MotivationCards")' + '/' + dataItem.id;
                        }
                        function GetMyImage(image)
                        {
                           var returnString = 'No Image Found';

                                //just checking to see if we have a name for the image
                            if (image != null && image.length > 0) {
                                returnString = "<img class='image img-responsive' src=" + image + " title=" + image + " width='100' height='100' alt=" + image + " />";
                                return returnString;
                            } else
                                return "";
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>



