@*@model MPM.FLP.FLPDb.SalesTalks*@
@model MPM.FLP.FLPDb.SalesPrograms
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Edit Programs</h2>
            </div>
            <div class="body">
                @if ((string)TempData["alert"] != "" && TempData["alert"] != null)
                {
                    <div class="alert bg-red alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                        @TempData["alert"]
                    </div>
                }
            <form id="form" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label><br />
                    <input asp-for="Title" class="k-textbox" style="width:100%" required />
                    <input asp-for="CreatorUsername" hidden />
                    <input asp-for="CreationTime" hidden />
                    <input asp-for="FeaturedImageUrl" hidden />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StartDate" class="control-label"></label><br />
                    <kendo-datepicker for="StartDate" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate" class="control-label"></label><br />
                    <kendo-datepicker for="EndDate" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contents" class="control-label"> Deskripsi </label> <br />
                    @(Html.Kendo().EditorFor(e => e.Contents)
                        .HtmlAttributes(new { style = "width:100%; height:440px" })
                        .Tools(tools => tools
                          .Clear()
                          .Bold().Italic().Underline().Strikethrough()
                          .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                          .InsertUnorderedList().InsertOrderedList()
                          .Outdent().Indent()
                          //.Formatting()
                          //.CleanFormatting()
                          .FontName()
                          .FontSize()
                          .ForeColor().BackColor()
                      ).Value(@<text> @Model.Contents </text>)
                    )
                    <span asp-validation-for="Contents" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <label asp-for="H1" class="control-label"></label>
                            <div class="checkbox">
                                <div class="switch">
                                    <label>OFF<input asp-for="H1" type="checkbox"><span class="lever"></span>ON</label>
                                </div>
                            </div>
                            <span asp-validation-for="H1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <label asp-for="H2" class="control-label"></label>
                            <div class="checkbox">
                                <div class="switch">
                                    <label>OFF<input asp-for="H2" type="checkbox"><span class="lever"></span>ON</label>
                                </div>
                            </div>
                            <span asp-validation-for="H2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="form-group">
                            <label asp-for="H3" class="control-label"></label>
                            <div class="checkbox">
                                <div class="switch">
                                    <label>OFF<input asp-for="H3" type="checkbox"><span class="lever"></span>ON</label>
                                </div>
                            </div>
                            <span asp-validation-for="H3" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ReadingTime" class="control-label">Minimal Waktu Pembacaan (detik)</label><br />
                    <input type="number" min="0" asp-for="ReadingTime" id="txtPoint" class="k-textbox" style="width:100%" required />
                    @*<span asp-validation-for="Title" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <label asp-for="IsPublished" class="control-label"> Tampilkan ?</label>
                    <div class="checkbox">
                        <div class="switch">
                            <label>OFF<input asp-for="IsPublished" type="checkbox" value="true"><span class="lever"></span>ON</label>
                        </div>
                    </div>
                    <span asp-validation-for="IsPublished" class="text-danger"></span>
                </div>
            </form>
                <div class="form-group">
                    <button type="submit" value="Create" class="btn btn-primary" onclick="submitForm()">Ubah</button>
                    <button class="btn btn-default" onclick="backToIndex()">Kembali</button>
                </div>
            </div>
            <div class="footer">
                
            </div>
        </div>
        
        <script>
            function submitForm() {
                $("#form").submit();
            }
            function backToIndex() {
                window.location.href = '@Url.Action("Index", "ProgramManagement")';
            }
            function GetMyImage(image)
            {
                var returnString = 'No Image Found';

                // just checking to see if we have a name for the image
                if (image != null && image.length > 0) {
                    returnString = "<img class='image img-responsive' src=" + image + " title=" + image + " width='100' height='100' alt=" + image + " />";
                    return returnString;
                } else
                    return "";
            }        

        </script>
    </div>
</div>

<script>

    $(function() {
        // The Name() of the Grid is used to get its client-side instance.
        var SalesTalkAttachments = $("#SalesTalkAttachments").data("kendoGrid");
    });

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
