@using Abp.Authorization.Users
@using MPM.FLP.Web.Startup
@model MPM.FLP.FLPDb.Articles
@{
    ViewData["Title"] = "Artikel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 >
                    Artikel
                </h2>
            </div>
            <div class="body">
                <div class="row table-responsive">
                    @(Html.Kendo().Grid<MPM.FLP.FLPDb.Articles>()
                              .Name("grid")
                              .ToolBar(tools =>
                              {
                                  tools.Custom().Text("Tambah Artikel Baru").HtmlAttributes(new { Href = Url.Action("Create", "Artikel") });
                              })
                            .DataSource(dataSource => dataSource
                           .Custom()
                           .ServerFiltering(true)
                           .Type("aspnetmvc-ajax")
                           .Transport(transport => transport
                                         .Read(read => read.Action("Grid_Read", "Artikel"))
                                         .Destroy(destroy => destroy.Action("Grid_Destroy", "Artikel"))
                             )
                           .Schema(schema => schema
                             .Model(m => m.Id("id"))
                             .Parse(@<text>
                                        function(response) {
                                        return response.result;
                                        }
                            </text>)
                                  .Data("data")
                                  .Total("total")
                                  )
                                )
                        .Columns(columns =>
                        {
                            columns.Bound(typeof(DateTime), "creationTime").Title("Tanggal").ClientTemplate("#= data.creationTime ? kendo.toString(kendo.parseDate(data.creationTime), 'dd-MM-yyyy') : '' #").Width(120).Filterable(false);
                            columns.Bound(typeof(string), "title").Width(200).Title("Judul").Lockable(false).Locked(true).Filterable(true);
                            columns.Bound(typeof(int), "readingTime").Title("Minimal Waktu Baca").Width(180).Filterable(false);
                            columns.Bound(typeof(string), "featuredImageUrl").ClientTemplate(
                                    "#=GetMyImage(data.featuredImageUrl)#")
                                  .Title("Gambar").Width(200).Filterable(false);
                            columns.Bound(typeof(string), "creatorUsername").Title("Pembuat").Filterable(true).Width(200);
                            columns.Bound(typeof(long), "viewCount").Title("Jumlah Pembaca").Filterable(false).Width(200);
                            columns.Bound(typeof(string), "h1").ClientTemplate(
                  "#=ShowValue(data.h1)#").Filterable(false).Width(70);
                          columns.Bound(typeof(string), "h2").ClientTemplate(
                  "#=ShowValue(data.h2)#").Filterable(false).Width(70);
                          columns.Bound(typeof(string), "h3").ClientTemplate(
                  "#=ShowValue(data.h3)#").Filterable(false).Width(70);
                            columns.Bound(typeof(string), "isPublished").ClientTemplate(
                "#=ShowValue(data.isPublished)#")
              .Title("Tampilkan?").HtmlAttributes(new { @class = "text-center", @style = "width:50px;" }).Filterable(false).Width(100);
                            columns.Command(commands =>                     
                            {
                                commands.Custom("Edit").Text(" ").HtmlAttributes(new { @class = "btn btn-primary", @style = "color:white;", @title = "Ubah" }).IconClass("glyphicon glyphicon-cog").Click("goToEditPage");
                                commands.Custom("Attachment").Text(" ").HtmlAttributes(new { @class = "btn btn-warning", @style = "color:white;", @title = "Tautan" }).IconClass("glyphicon glyphicon-file").Click("goToAttachmentPage");
                               //commands.Custom("Ubah").Click("goToEditPage");
                               //commands.Destroy().Text("Hapus");
                               commands.Destroy().Text(" ").HtmlAttributes(new { @class = "btn btn-danger", @style = "color:white;", @title = "Hapus"}).IconClass("glyphicon glyphicon-trash");
                                
                            }).Width(250);
                        })
                        .Pageable()
                        .Sortable()
                        .Scrollable(s => s.Height("500"))
                        .Navigatable()
                        .Resizable(resize => resize.Columns(true))
                        .Filterable(filterable => filterable
                            .Extra(false)
                            .Operators(operators => operators
                            .ForString(str => str.Clear()
                                .IsEqualTo("Is equal to")
                                .Contains("Contains")
                            ))
                          )
                    )


                    <script>
                        function goToEditPage(e) {
                            e.preventDefault();
                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                            window.location.href = '@Url.Action("Edit", "Artikel")' + '/' + dataItem.id;
                        }
                        function goToAttachmentPage(e) {
                            e.preventDefault();
                            var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

                            window.location.href = '@Url.Action("EditAttachment", "Artikel")' + '/' + dataItem.id;
                        }
                        function GetMyImage(image)
                        {
                            var returnString = 'No Image Found';

                            //just checking to see if we have a name for the image
                            if(image != null && image.length > 0)
                            {
                                returnString = "<img class='image img-responsive' src=" + image + " title=" + image + " width='100' height='100' alt=" + image + " />";
                                return returnString;
                            } else
                            return "";
                        }
                        function ShowValue(value) {
                            if (value == true) {
                                return "<i class='glyphicon glyphicon-ok'/>";
                            } else {
                                return "<i class='glyphicon glyphicon-remove'/>";
                        }
                    }
                    </script>


                </div>
            </div>
        </div>
    </div>
</div>
