@*@model MPM.FLP.FLPDb.SalesTalks*@
@model MPM.FLP.FLPDb.VerifikasiJabatans
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Edit Verifikasi Jabatan</h2>
            </div>
            <div class="body">
                @using (Html.BeginForm("Edit", "VerifikasiJabatans", FormMethod.Post, new { id = "formCreate", enctype = "multipart/form-data" }))
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Title" class="control-label"></label><br />
                        <input asp-for="Title" id="txtTitle" class="k-textbox" style="width:100%" required />
                        <input asp-for="CreatorUsername" hidden />
                        <input asp-for="CreationTime" hidden />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="IDGroupJabatan" class="control-label">Id Group Jabatan</label><br />
                        @(Html.Kendo().DropDownListFor(x => x.IDGroupJabatan)
                            .HtmlAttributes(new { style = "width:100%" })
                            .OptionLabel("Pilih Id Group Jabatan...")
                            .DataTextField("idgroupjabatan")
                            .DataValueField("idgroupjabatan")
                            .DataSource(source =>
                                    source.Custom()
                                       .ServerFiltering(true)
                                       .Type("aspnetmvc-ajax")
                                       .Transport(transport => transport
                                            .Read(read =>
                                            {
                                                read.Action("Get_IdGroupJabatan", "VerifikasiJabatans");
                                            })
                                       )
                                       .Schema(schema => schema
                                            .Data("data")
                                            .Model(model =>
                                            {
                                                model.Id("idgroupjabatan");
                                                model.Field("idgroupjabatan", typeof(string));
                                            })
                                            .Parse(@<text>
                                                        function(response) {
                                                        return response.result;
                                                        }
                                            </text>)
                           )
                           )
                        )
                        @*<span asp-validation-for="Title" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <label asp-for="PassingScore" class="control-label">Passing Score</label><br />
                        <input type="number" min="0" asp-for="PassingScore" class="k-textbox" style="width:100%" required />
                        @*<span asp-validation-for="Title" class="text-danger"></span>*@
                    </div>
                    <div class="form-group">
                        <input type="submit" id="btnSubmit" value="Ubah" class="btn btn-primary" />
                        <input type="button" id="btnBack" class="btn btn-default" onclick="backToIndex()" value="Kembali">
                    </div>
                }

            </div>
        </div>
        
        <script>
            function submitForm() {
                $("#form").submit();
            }
            function backToIndex() {
                window.location.href = '@Url.Action("Index", "VerifikasiJabatans")';
            }
            function GetMyImage(image)
            {
                var returnString = 'No Image Found';

                // just checking to see if we have a name for the image
                if (image != null && image.length > 0) {
                    returnString = "<img class='image img-responsive' src=" + image + " title=" + image + " width='100' height='100' alt=" + image + " />";
                    return returnString;
                } else
                    return "";
            }        
            $(document).ready(function () {

                $('form').submit(function (event) {

                    event.preventDefault();            
                    var dropdown = $("#IDGroupJabatan").data("kendoDropDownList").value();

                    if (dropdown == "") {
                        alert("Id group jabatan belum dipilih");
                    } else {
                        var formdata = new FormData($('#formCreate').get(0)); 
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("Edit", "VerifikasiJabatans")',
                            data: formdata,
                            dataType: "json",
                            processData: false, 
                            contentType: false, 
                            success: function (response) {
                                abp.ui.clearBusy();
                                window.location.href = '@Url.Action("Index", "VerifikasiJabatans")';
                            }   
                        });  
                    }
                    
                
                }); 

            });
        </script>
    </div>
</div>

<script>

    $(function() {
        // The Name() of the Grid is used to get its client-side instance.
        var SalesTalkAttachments = $("#SalesTalkAttachments").data("kendoGrid");
    });

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
